@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100&family=Raleway:wght@100;300;400;500;600;700;800&display=swap");
.font_raleway {
  font-family: "Raleway", sans-serif;
}

.font_montserrat {
  font-family: "Montserrat", sans-serif;
}

/**======================  COLORS  ======================*/
/** Backgrounds */
.bg_color_gradient_principal {
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
}

.bg_color_light {
  background-color: #f2f3f9;
}

.bg_color_dark {
  background-color: #273947;
}

.bg_color_gray {
  background-color: #728fa3;
}

.bg_color_lg_gray {
  background-color: #E9EFF5;
}

.bg_color_blue {
  background-color: #3db5e7;
}

.bg_color_aqua {
  background-color: #11cdd6;
}

.bg_color_green {
  background-color: #5cd611;
}

/** Colors */
.text_color_light {
  color: #f2f3f9;
}

.text_color_dark {
  color: #273947;
}

.text_color_gray {
  color: #728fa3;
}

.text_color_blue {
  color: #3db5e7;
}

.text_color_aqua {
  color: #11cdd6;
}

.text_color_green {
  color: #5cd611;
}

.btn-consultorio {
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
  color: #f2f3f9;
  -webkit-box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
          box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
  border-radius: 50px;
  font-size: .8em;
}

.btn-consultorio:hover {
  background: -webkit-gradient(linear, right top, left top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(270deg, #11cdd7 0%, #3db5e7 100%);
  color: #fff;
}

.titlePag {
  position: relative;
  margin-top: 1em;
}

.titlePag__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
}

.titlePag__number {
  position: absolute;
  top: -40px;
  left: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  letter-spacing: -0.045em;
  color: rgba(114, 143, 163, 0.1);
}

#linea_separador {
  position: absolute;
  bottom: -150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0 !important;
}

.splide__track {
  margin-bottom: 2em;
  padding: 2em 0;
}

.splide__pagination__page.is-active {
  background: #3db5e7 !important;
}

main {
  max-width: 1920px !important;
}

#navbar_white {
  z-index: 9999 !important;
}

section {
  overflow: hidden;
  position: relative;
}

section#header {
  height: 100vh !important;
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
}

section#header #contact_bar {
  position: relative;
  z-index: 99999;
}

section#header #contact_bar span {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1200px) {
  section#header #contact_bar .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#header #contact_bar .navbar .navbar-toggler:focus {
  outline: none !important;
}

section#header #contact_bar .navbar ul.navbar-nav li.active a {
  font-weight: bold;
}

section#header #contact_bar .navbar ul.navbar-nav li a {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: .9em;
  letter-spacing: 0.055em;
  color: #FFFFFF;
  margin: 5px 18px;
}

section#header #navbar_mini {
  padding: 0 18px;
}

@media (max-width: 576px) {
  section#header #navbar_mini {
    text-align: center;
  }
  section#header #navbar_mini span {
    margin: 0 4px !important;
  }
}

section#header #navbar_mini span {
  margin: 0 6px;
}

@media (max-width: 375px) {
  section#header #navbar_mini {
    display: none;
  }
}

@media (min-width: 1200px) {
  section#header #navbar_mini {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#header #description {
  margin-top: -80px;
}

@media (min-width: 992px) {
  section#header #description {
    margin-top: -40px !important;
  }
}

@media (min-width: 1200px) {
  section#header #description {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#header #description h1 {
  position: relative;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 3em;
  line-height: 104.4%;
}

section#header #description h1 span {
  position: absolute;
  left: 10px;
  top: -0.5em;
  color: rgba(255, 255, 255, 0.2);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5em;
  line-height: 104.4%;
}

@media (min-width: 1200px) {
  section#header #description h1 span {
    top: -.55em;
    font-size: 3em !important;
  }
}

@media (min-width: 992px) {
  section#header #description h1 {
    font-size: 2.5em !important;
  }
}

@media (min-width: 1200px) {
  section#header #description h1 {
    font-size: 3.5em !important;
  }
}

section#header #description p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.4em;
}

@media (min-width: 992px) {
  section#header #description p {
    margin: 2em 0 !important;
  }
}

section#header #description button {
  font-family: "Raleway", sans-serif;
  background-color: #f2f3f9;
  border: none;
  color: #273947;
  padding: 7.5px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 15px 2px rgba(114, 143, 163, 0.5);
          box-shadow: 0 5px 15px 2px rgba(114, 143, 163, 0.5);
}

section#header #description a {
  margin-left: 1em;
}

@media (min-width: 768px) {
  section#header #description {
    margin-top: -60px;
  }
  section#header #description h1 span {
    font-size: 2em;
  }
  section#header #description p {
    font-size: 1em;
  }
}

@media (max-width: 375px) {
  section#header #description h1 {
    font-size: 2.3em;
  }
  section#header #description h1 span {
    font-size: 2em;
  }
  section#header #description p {
    font-size: 0.85em;
    padding-top: 10px;
  }
  section#header #description a {
    margin-left: 0;
    display: block;
    margin-top: 10px;
  }
}

section#header div#formas #shape_cirle {
  position: absolute;
  bottom: -210px;
  right: -150px;
  z-index: -1;
}

@media (min-width: 768px) {
  section#header div#formas #shape_cirle {
    bottom: 0 !important;
    left: 50% !important;
    z-index: 1 !important;
  }
}

@media (min-width: 992px) {
  section#header div#formas #shape_cirle {
    bottom: -150px !important;
    left: 50% !important;
    z-index: 1 !important;
  }
}

section#header div#formas #shape_cirle img {
  height: 380px;
  width: 380px;
}

@media (min-width: 768px) {
  section#header div#formas #shape_cirle img {
    height: 500px;
    width: 500px;
  }
}

@media (min-width: 1200px) {
  section#header div#formas #shape_cirle img {
    height: 650px;
    width: 650px;
  }
}

section#header div#formas #shape_points {
  position: absolute;
  top: 110px;
  right: -50px;
  z-index: -1;
}

section#header div#formas #shape_points img {
  width: 122.57px;
  height: 159.2px;
}

@media (min-width: 1200px) {
  section#header div#formas #shape_points img {
    width: 222.57px;
    height: 259.2px;
  }
}

@media (min-width: 768px) {
  section#header div#formas #shape_points {
    top: 107px;
    right: -40px;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  section#header div#formas #shape_points {
    top: 107px;
    right: -80px;
    z-index: 1;
  }
}

section#header div#formas #img_docs {
  position: absolute;
  bottom: -150px;
  right: -90px;
  z-index: 1;
}

section#header div#formas #img_docs img {
  width: 550px;
  height: 574px;
}

@media (min-width: 1200px) and (min-height: 580px) {
  section#header div#formas #img_docs img {
    width: 640px;
    height: 664px;
  }
}

@media (max-width: 767px) {
  section#header div#formas #img_docs {
    display: none;
  }
}

section#header div#formas #circles {
  position: absolute;
  width: 78px;
  height: 79px;
  left: -55px;
  top: 65%;
  border-radius: 50%;
  border: 12px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section#header div#formas #down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

section#header div#formas #down img {
  width: 30px;
  height: 30px;
}

@media (min-width: 992px) {
  section#header div#formas #down {
    z-index: 0;
  }
  section#header div#formas #down img {
    width: 50px !important;
    height: 50px !important;
  }
}

section#header div#formas #blur_elipse {
  position: absolute;
  left: 50%;
  bottom: -220px;
}

section#header div#formas #blur_elipse img {
  width: 533.86px;
  height: 366px;
}

@media (min-width: 768px) {
  section#header div#formas #blur_elipse {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 992px) {
  section#header div#formas #blur_elipse {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -300px;
  }
  section#header div#formas #blur_elipse img {
    width: 733.86px;
    height: 566px;
  }
}

section#about {
  height: 100%;
}

@media (min-width: 1200px) {
  section#about {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#about .titlePag {
  position: relative;
  margin-top: 1em;
}

section#about .titlePag__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
}

section#about .titlePag__number {
  position: absolute;
  top: -40px;
  left: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  letter-spacing: -0.045em;
  color: rgba(114, 143, 163, 0.1);
}

section#about .aboutDescription {
  width: 100%;
  position: relative;
  margin-top: 1.7em;
}

section#about .aboutDescription__title, section#about .aboutDescription__subtitle, section#about .aboutDescription__text {
  font-family: Raleway, sans-serif;
  font-style: normal;
}

section#about .aboutDescription__title {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 104.4%;
  /* or 52px */
  letter-spacing: -0.01em;
  /* dark */
  color: #273947;
}

@media (min-width: 768px) {
  section#about .aboutDescription__title {
    margin-top: 2em;
    font-size: 1.8em;
  }
}

section#about .aboutDescription__subtitle {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 125%;
  color: #3db5e7;
}

@media (min-width: 768px) {
  section#about .aboutDescription__subtitle {
    font-size: 1.5em;
    margin-top: 0 !important;
  }
}

section#about .aboutDescription__text {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 115%;
  color: #273947;
}

section#about .aboutDescription__button {
  width: 152px;
  height: 48px;
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
  color: #f2f3f9;
  -webkit-box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
          box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
  border-radius: 50px;
}

@media (min-width: 768px) {
  section#about .aboutDescription__button {
    margin-top: 2em !important;
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
}

@media (min-width: 768px) {
  section#about .aboutDescription__image {
    display: block !important;
  }
  section#about .aboutDescription__image img {
    margin-top: 2em;
    width: 406px;
    height: 274px;
  }
}

section#about .cardServices {
  position: relative;
}

@media (min-width: 992px) {
  section#about .cardServices {
    height: 100%;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    row-gap: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#about .cardServices span#shape-gray {
    display: inline !important;
    background-image: url(../img/svg/formas_shapes2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: absolute;
    top: 55px;
    left: -10px;
    width: 194px;
    height: 136px;
    z-index: 0;
  }
  section#about .cardServices span#shape-circle {
    display: inline !important;
    position: absolute;
    top: 0;
    right: -80%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border: 3px solid #F2F3F9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
  }
}

section#about .cardServices__card {
  background: #f2f3f9;
  border-radius: 20px;
  border: none;
  text-align: center;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 999;
}

section#about .cardServices__card:hover {
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
  -webkit-box-shadow: 0px 8px 30px rgba(64, 184, 231, 0.7);
          box-shadow: 0px 8px 30px rgba(64, 184, 231, 0.7);
}

section#about .cardServices__card:hover .cardServices__title {
  color: #fff;
}

section#about .cardServices__card:hover .cardServices__text {
  color: #fff;
}

section#about .cardServices__card:hover .cardServices__icon path {
  stroke: #fff;
}

@media (min-width: 768px) {
  section#about .cardServices__card {
    width: 240px;
    height: 240px;
    padding-top: 1.7em !important;
  }
}

@media (min-width: 992px) {
  section#about .cardServices__card {
    margin: 2px 0;
    width: 200px;
    padding: 15px 10px !important;
  }
  section#about .cardServices__card:nth-of-type(2) {
    margin-top: 10em !important;
  }
  section#about .cardServices__card:nth-of-type(3) {
    margin-bottom: 10em !important;
  }
}

@media (min-width: 1200px) {
  section#about .cardServices__card {
    margin: 2px 0;
    width: 250px;
    height: 250px;
    padding: 15px 10px !important;
  }
  section#about .cardServices__card:nth-of-type(2) {
    margin-top: 10em !important;
  }
  section#about .cardServices__card:nth-of-type(3) {
    margin-bottom: 10em !important;
  }
}

section#about .cardServices__icon svg {
  width: 80px;
  height: 82px;
}

@media (min-width: 768px) {
  section#about .cardServices__icon svg {
    width: 70px;
    height: 72px;
  }
}

section#about .cardServices__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #3db5e7;
}

@media (min-width: 768px) {
  section#about .cardServices__title {
    font-size: 1.2em;
  }
}

section#about .cardServices__text {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 125%;
  color: #728fa3;
}

@media (min-width: 768px) {
  section#about .cardServices__text {
    padding: 0 15px;
    margin-bottom: 0 !important;
  }
}

@media (min-width: 992px) {
  section#about .cardServices__text {
    padding: 0 5px;
    margin-bottom: 0 !important;
  }
}

@media (min-width: 1200px) {
  section#especialidades {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#especialidades .especialidadesContent .especialidadesTitle {
  position: relative;
}

section#especialidades .especialidadesContent .especialidadesTitle__title {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 2em;
  color: #728fa3;
}

section#especialidades .especialidadesContent .especialidadesTitle__number {
  position: absolute;
  top: -40px;
  left: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  letter-spacing: -0.045em;
  color: #fff;
  text-shadow: 0px 4px 45px rgba(208, 210, 218, 0.65);
  z-index: 0;
}

@media (min-width: 768px) {
  section#especialidades .especialidadesContent .especialidadesTitle {
    margin: 2em 0 !important;
  }
}

section#especialidades .especialidadesContent__superTitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3em;
  line-height: 104.4%;
  /* or 52px */
  text-align: center;
  letter-spacing: -0.01em;
  /* dark */
  color: #273947;
}

section#especialidades .especialidadesContent__subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 125%;
  text-align: center;
  color: #3db5e7;
}

section#especialidades .especialidadesContent__turnos {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 104.4%;
  letter-spacing: -0.01em;
  color: #728fa3;
  position: relative;
}

section#especialidades .especialidadesContent__turnos::before {
  content: " ";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -1.1em;
  background-color: #5cd611;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

section#especialidades .especialidadesTabs__item a {
  font-family: "Raleway", sans-serif;
  color: #728fa3 !important;
  background: rgba(114, 143, 163, 0.2);
}

@media (min-width: 992px) {
  section#especialidades .especialidadesTabs__item a {
    border-radius: 25px;
    margin: 0 8px !important;
    padding: 25px 0 !important;
  }
}

section#especialidades .especialidadesTabs__item a.active {
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7)) !important;
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%) !important;
  color: #fff !important;
  -webkit-box-shadow: 0px 9px 35px rgba(21, 204, 217, 0.65);
          box-shadow: 0px 9px 35px rgba(21, 204, 217, 0.65);
}

section#especialidades .especialidadesTabs__content {
  position: relative;
  background-color: #fff;
  border-radius: 1em;
  z-index: 1;
  border: 2px solid #3db5e7;
  border-radius: 35px;
  width: 100%;
}

@media (min-width: 992px) {
  section#especialidades .especialidadesTabs__content {
    padding: 2em 0 !important;
    margin-top: 3em !important;
    border-color: transparent !important;
  }
}

section#especialidades .especialidadesTabs__detail .detail_title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 125%;
  color: #3db5e7 !important;
}

section#especialidades .especialidadesTabs__detail .detail_text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 125%;
}

section#especialidades #especialidades__line {
  position: absolute;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#elegirnos {
  position: relative;
}

@media (min-width: 1200px) {
  section#elegirnos {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#elegirnos .sectionElegirnos .tns-inner {
  padding: 2em 0 !important;
}

section#elegirnos .sectionElegirnos__item {
  z-index: 999;
}

section#elegirnos .sectionElegirnos__item .card {
  position: relative;
  -webkit-box-shadow: 5px 20px 45px rgba(229, 229, 229, 0.8);
          box-shadow: 5px 20px 45px rgba(229, 229, 229, 0.8);
  border-radius: 25px;
  overflow: hidden;
  border: 0;
}

section#elegirnos .sectionElegirnos__item .card__img {
  position: absolute;
  height: 226px;
  width: 226px;
  top: -25px;
  right: -105px;
}

section#elegirnos .sectionElegirnos__item button#btn-exp {
  font-family: 'Montserrat', 'Raleway', sans-serif;
  border-radius: 0 !important;
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
  font-size: .9em;
}

section#elegirnos .sectionElegirnos__superTitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 104.4%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #273947;
}

section#elegirnos .sectionElegirnos__subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 125%;
  text-align: center;
}

section#elegirnos img#shape2 {
  position: absolute;
  top: 50px;
  right: -25px;
}

@media (min-width: 1200px) {
  section#contacto {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#contacto .sectionContacto__map {
  position: relative;
  height: 100% !important;
}

section#contacto .sectionContacto__map iframe {
  width: 100%;
  height: 400px;
  background-color: #728fa3;
}

@media (min-width: 1200px) {
  section#contacto .sectionContacto__map iframe {
    height: 100% !important;
    width: 100% !important;
  }
}

section#contacto .sectionContacto__map #sectionContacto__direction {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100% !important;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

section#contacto .sectionContacto__map #sectionContacto__direction p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 1em;
  line-height: 104.4%;
  /* identical to box height, or 23px */
  letter-spacing: 0.02em;
}

section#contacto .sectionContacto #formulario_contacto_col {
  padding-top: 1em;
  padding-bottom: 1em;
}

section#contacto .sectionContacto__frm .form-control {
  border: 2px solid transparent !important;
}

section#contacto .sectionContacto__frm .form-control:active, section#contacto .sectionContacto__frm .form-control:focus {
  border: 2px solid #728fa3 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
}

section#footer {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
}

section#footer a {
  text-decoration: none;
  color: #fff;
}

section#footer .sectionFooter {
  position: relative;
  z-index: 999;
}

section#footer .sectionFooter__links {
  display: block;
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 104.4%;
  letter-spacing: 0.03em;
  margin-bottom: 1em;
}

section#footer .shapes span {
  position: absolute;
}

section#footer .shapes__circles {
  width: 50px;
  height: 50px;
  border: 12px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

section#footer .shapes__circles.left_shape {
  top: 5%;
  left: 5%;
}

section#footer .shapes__circles.right_shape {
  right: -5%;
  top: 15%;
}

section#footer .shapes__circleMd {
  border: 2px solid rgba(255, 255, 255, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 454px;
  height: 454px;
  border-radius: 50%;
}

section#footer .shapes__circleLg {
  border: 6px solid rgba(255, 255, 255, 0.04);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 800px;
  height: 800px;
  border-radius: 50%;
}

section#footer .shapes__logo {
  bottom: -10px;
  left: -8px;
  opacity: 0.2;
}

section#footer .shapes__points {
  right: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*-----------------------------------------------------*/
section#header_about {
  height: 85vh !important;
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);
}

section#header_about #contact_bar span {
  font-family: "Montserrat", sans-serif;
}

section#header_about #contact_bar .navbar .navbar-toggler:focus {
  outline: none !important;
}

@media (min-width: 1200px) {
  section#header_about #contact_bar .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#header_about #contact_bar .navbar ul.navbar-nav li.active a {
  font-weight: bold;
}

section#header_about #contact_bar .navbar ul.navbar-nav li a {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: .9em;
  letter-spacing: 0.055em;
  color: #FFFFFF;
  margin: 5px 18px;
}

section#header_about #navbar_mini {
  padding: 0 18px;
}

@media (max-width: 576px) {
  section#header_about #navbar_mini {
    text-align: center;
  }
  section#header_about #navbar_mini span {
    margin: 0 4px !important;
  }
}

section#header_about #navbar_mini span {
  margin: 0 6px;
}

@media (max-width: 375px) {
  section#header_about #navbar_mini {
    display: none;
  }
}

@media (min-width: 1200px) {
  section#header_about #navbar_mini {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#header_about #description {
  margin-top: -50px;
}

@media (min-width: 992px) {
  section#header_about #description {
    margin-top: -40px !important;
  }
}

@media (min-width: 1200px) {
  section#header_about #description {
    margin-top: -70px !important;
  }
}

@media (max-width: 576px) and (min-width: 376px) {
  section#header_about #description {
    margin-top: -110px;
  }
}

section#header_about #description #formas_hojas {
  position: absolute;
  bottom: 0;
  right: -5px;
}

section#header_about #description #formas_hojas img {
  width: 93.57px;
  height: 133.52px;
}

section#header_about .description_title {
  position: relative;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 104.4%;
}

@media (min-width: 1200px) {
  section#header_about .description_title {
    font-size: 2.5em !important;
  }
}

section#header_about p.description_subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em !important;
  line-height: 1.4em;
}

@media (min-width: 1200px) {
  section#header_about p.description_subtitle {
    font-size: 1.5em !important;
  }
}

.features {
  position: relative;
  font-family: 'Raleway', sans-serif;
  padding: 2em 0;
}

@media (min-width: 1200px) {
  .features {
    padding: 2em 5%;
  }
}

.features__row_1 {
  margin-bottom: 2em !important;
}

.features__icon {
  margin: 25px 0 5px 0;
  z-index: 999;
}

.features__icon img {
  opacity: .5;
  height: 42px !important;
  width: 42px !important;
}

.features__image {
  z-index: 999 !important;
}

.features__subtitle {
  color: #3db5e7;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  z-index: 999;
}

.features__title {
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 104.4%;
  letter-spacing: -0.01em;
  z-index: 999;
}

.features__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #273947;
  margin-top: 1.3em;
  z-index: 999;
}

.features #formas_componente_2 {
  position: absolute;
  bottom: -15px;
  right: -100px;
  z-index: -1;
}

.features #formas_componente_2 img {
  width: 289px;
  height: 293px;
}

.counterAbout {
  position: relative;
  background: url("../img/png/bg_counter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

@media (min-width: 1200px) {
  .counterAbout {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.counterAbout__number {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 104.4%;
  letter-spacing: 0.02em;
}

.counterAbout__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 104.4%;
  letter-spacing: -0.01em;
  margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  .counterAbout__title {
    margin-bottom: 0 !important;
    font-size: 1.3em;
    letter-spacing: 0;
  }
}

.profesionals {
  position: relative;
  background-color: #E9EFF5;
}

@media (min-width: 1200px) {
  .profesionals {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.profesionals .titlePag {
  position: relative;
  z-index: 999;
}

.profesionals__card {
  background-color: #fff;
  border-radius: 6px;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 8px 0;
  border: none !important;
  position: relative;
  z-index: 999;
}

.profesionals__card:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(114, 143, 163, 0.15);
          box-shadow: 0px 10px 25px rgba(114, 143, 163, 0.15);
  cursor: pointer;
}

.profesionals__card .card-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profesionals__card .card-body .card-icon {
  margin-left: 4px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  height: 65px;
  width: 60px;
}

.profesionals__card .card-body .card-title,
.profesionals__card .card-body .card-matricula,
.profesionals__card .card-body .card-text {
  margin-bottom: 0 !important;
  color: #728fa3;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}

.profesionals__card .card-body .card-title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  font-size: 1.05em;
  line-height: 104.4%;
  /* identical to box height, or 19px */
  letter-spacing: -0.01em;
}

.profesionals span {
  position: absolute;
}

.profesionals span#formas_componente_2_l {
  left: -190px;
  bottom: -190px;
  z-index: 0;
}

.profesionals span#formas_componente_2_r {
  right: -260px;
  top: -90px;
  z-index: 0;
}

.profesionals__modal .modal-body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  border-radius: 12px !important;
  border-color: #728fa3;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

@media (min-width: 992px) {
  .profesionals__modal .modal-body {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    text-align: left;
  }
}

.profesionals__modal .modal-body__componente {
  position: absolute;
  top: -25%;
  right: -38%;
}

@media (min-width: 576px) {
  .profesionals__modal .modal-body__componente {
    right: -26%;
    top: -26%;
  }
}

@media (min-width: 992px) {
  .profesionals__modal .modal-body__componente {
    right: -26%;
    top: -36%;
  }
}

.profesionals__modal .modal-body__componente img {
  width: 278.5px;
  height: 280.8px;
}

.profesionals__modal .modal-body__img {
  position: relative;
  z-index: 999;
}

@media (min-width: 992px) {
  .profesionals__modal .modal-body__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/ span 2;
  }
}

.profesionals__modal .modal-body__personal {
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .profesionals__modal .modal-body__personal {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/ span 3;
  }
}

.profesionals__modal .modal-body__name {
  color: #273947;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 104.4%;
  letter-spacing: -0.01em;
  position: relative;
  z-index: 9999;
}

@media (min-width: 992px) {
  .profesionals__modal .modal-body__name {
    font-size: 1.4em;
  }
}

.profesionals__modal .modal-body__matricula, .profesionals__modal .modal-body__especialidad, .profesionals__modal .modal-body__horarios {
  font-size: 15px;
  line-height: 104.4%;
  letter-spacing: -0.01em;
}

.profesionals__modal .modal-body__matricula h6, .profesionals__modal .modal-body__especialidad h6, .profesionals__modal .modal-body__horarios h6 {
  color: #273947;
  font-size: 1.1em;
}

@media (min-width: 992px) {
  .profesionals__modal .modal-body__matricula, .profesionals__modal .modal-body__especialidad, .profesionals__modal .modal-body__horarios {
    letter-spacing: 0 !important;
  }
}

.profesionals__modal .modal-body__btn {
  margin-top: 1em;
  margin-bottom: 1em;
}

.profesionals__modal .modal-body__btn button {
  font-family: 'Montserrat', sans-serif;
  background: -webkit-gradient(linear, right top, left top, from(#11cdd7), to(#3db5e7)) !important;
  background: linear-gradient(270deg, #11cdd7 0%, #3db5e7 100%) !important;
  border: 0 !important;
  color: white;
  -webkit-box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
          box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
  border-radius: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.profesionals__modal .modal-body .close {
  position: absolute;
  top: 5px;
  left: 10px;
  outline: none !important;
}

/*-----------------------------------------------------*/
@media (min-width: 1200px) {
  section#servicios_especialidades .servicios_especialidades {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#servicios_especialidades .servicios_especialidades__title {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 104.4%;
  letter-spacing: -0.01em;
  color: #728fa3;
}

section#servicios_especialidades .servicios_especialidades__title::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 6px;
  background-color: #3db5e7;
  bottom: -18px;
  border-radius: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#servicios_especialidades .servicios_especialidades__card {
  border: 1px solid rgba(242, 243, 249, 0.9);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  -webkit-transition: .4s;
  transition: .4s;
}

section#servicios_especialidades .servicios_especialidades__card #servicios_especialidades__card__icon i {
  color: #3db5e7;
  -webkit-transition: .15s;
  transition: .15s;
}

section#servicios_especialidades .servicios_especialidades__card #servicios_especialidades__card__text h4,
section#servicios_especialidades .servicios_especialidades__card #servicios_especialidades__card__text p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  line-height: 104.4%;
  letter-spacing: -0.01em;
}

section#servicios_especialidades .servicios_especialidades__card #servicios_especialidades__card__text h4 {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 8px !important;
}

section#servicios_especialidades .servicios_especialidades__card #servicios_especialidades__card__text p {
  line-height: 130%;
}

section#servicios_especialidades .servicios_especialidades__card:hover {
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section#servicios_especialidades .servicios_especialidades__card:hover #servicios_especialidades__card__icon i {
  color: #fff;
}

section#servicios_contacto {
  position: relative;
}

@media (min-width: 1200px) {
  section#servicios_contacto .servicios_contacto {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#servicios_contacto .servicios_contacto__title {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 104.4%;
  letter-spacing: -0.01em;
  color: #728fa3;
}

section#servicios_contacto .servicios_contacto__title::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 6px;
  background-color: #3db5e7;
  bottom: -18px;
  border-radius: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#servicios_contacto .servicios_contacto__card {
  border: 4px solid #F2F3F9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #fff;
  position: relative;
  z-index: 999;
}

section#servicios_contacto .servicios_contacto__card .card-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 104.4%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #728fa3;
  position: relative;
}

section#servicios_contacto .servicios_contacto__card .card-title::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: #3db5e7;
  bottom: -9px;
  border-radius: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#servicios_contacto .servicios_contacto__card .card-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 104.4%;
  text-align: center;
  color: #728fa3;
}

section#servicios_contacto .servicios_contacto__card:hover {
  border: 4px solid #3db5e7;
}

section#servicios_contacto #componente {
  position: absolute;
  width: 489px;
  height: 493px;
  background: url(../img/svg/formas_componente.svg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

section#servicios_contacto #componente.componente__down {
  top: -50px;
  right: -250px;
}

section#counter_about {
  position: relative;
  overflow: visible;
}

section#counter_about #shapes_hojas {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url(../img/svg/formas_hojas.svg);
  background-size: cover;
  background-position: center;
  z-index: 1;
  top: -50px;
  left: -20px;
  -webkit-transform: rotateY(160deg);
          transform: rotateY(160deg);
}

section#turnos_especialidades .turnos_especialidades {
  background-image: url(../img/bg_turnos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1200px) {
  section#turnos_especialidades .turnos_especialidades {
    padding-left: 5%;
    padding-right: 5%;
  }
}

section#turnos_especialidades .turnos_especialidades__title {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  color: #728fa3;
}

section#turnos_especialidades .turnos_especialidades__title::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 4px;
  background-color: #3db5e7;
  bottom: -18px;
  border-radius: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#turnos_especialidades .turnos_especialidades #turnos_especialidades__form {
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#turnos_especialidades .turnos_especialidades #turnos_especialidades__form .form-row label {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #728FA3;
}

section#turnos_especialidades .turnos_especialidades #turnos_especialidades__form .form-row input, section#turnos_especialidades .turnos_especialidades #turnos_especialidades__form .form-row select {
  border: 1px solid #d3d3d3;
  border-radius: 7px;
}

section#turnos_especialidades .turnos_especialidades #turnos_especialidades__form .form-row input:active, section#turnos_especialidades .turnos_especialidades #turnos_especialidades__form .form-row input:focus, section#turnos_especialidades .turnos_especialidades #turnos_especialidades__form .form-row select:active, section#turnos_especialidades .turnos_especialidades #turnos_especialidades__form .form-row select:focus {
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
  border: 1.5px solid #3db5e7;
}

section#turnos_especialidades .turnos_especialidades #turnos_especialidades__form .form-row button {
  background: -webkit-gradient(linear, left top, right top, from(#11CDD7), to(#3DB5E7));
  background: linear-gradient(90deg, #11CDD7 0%, #3DB5E7 100%);
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  border: 0 !important;
}
/*# sourceMappingURL=consultorio.css.map */