@import "../scss/fonts";
@import "../scss/sizes";
@import "../scss/colors";
@import "../scss/variables";
//=========================================================
body {
    max-width: 1920px;
}

section {
    overflow: hidden;
    position: relative;
}

section#header {
    height: 100vh !important;
    background: $gradient_principal;
    #contact_bar {
        span {
            font-family: "Montserrat", sans-serif;
        }
        .navbar {
            .navbar-toggler {
                &:focus {
                    outline: none !important;
                }
            }
        }
    }
    #navbar_mini {
        padding: 0 18px;
        @media (max-width: 576px) {
            text-align: center;
            span {
                margin: 0 4px !important;
            }
        }
        span {
            margin: 0 6px;
        }
        @include xs-max {
            // span {
            //     font-size: .8em;
            // }
            // span#span_phone {
            //     display: block;
            // }
            display: none;
        }
    }
    #description {
        margin-top: -80px;
        h1 {
            position: relative;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 3em;
            line-height: 104.4%;
            span {
                position: absolute;
                left: 10px;
                top: -0.5em;
                opacity: 14%;
                font-family: Raleway;
                font-style: normal;
                font-weight: 800;
                font-size: 2.5em;
                line-height: 104.4%;
            }
        }
        p {
            font-family: Raleway;
            font-style: normal;
            font-weight: 300;
            font-size: 0.8em;
            line-height: 1.4em;
        }
        button {
            font-family: "Raleway", sans-serif;
            background-color: $color_light;
            border: none;
            color: $color_dark;
            padding: 7.5px 25px;
            box-sizing: border-box;
            border-radius: 50px;
            box-shadow: 0 5px 15px 2px rgba(114, 143, 163, 0.5);
        }
        a {
            margin-left: 1em;
        }
        @include md-min {
            margin-top: -80px;
            h1 {
                font-size: 3.5em;
                span {
                    font-size: 2em;
                }
            }
            p {
                font-size: 1em;
            }
        }
        @include xs-max {
            h1 {
                font-size: 2.3em;
                span {
                    font-size: 2em;
                }
            }
            p {
                font-size: 0.85em;
                padding-top: 10px;
            }
            a {
                margin-left: 0;
                display: block;
                margin-top: 10px;
            }
        }
    }
    div#formas {
        #shape_cirle {
            position: absolute;
            bottom: -210px;
            right: -150px;
            z-index: -1;
            img {
                height: 380px;
                width: 380px;
            }
        }
        #shape_points {
            position: absolute;
            top: 110px;
            right: -50px;
            z-index: -1;
            img {
                width: 122.57px;
                height: 159.2px;
            }
        }
        #img_docs {
            position: absolute;
            bottom: -150px;
            right: -90px;
            z-index: 1;
            img {
                width: 550px;
                height: 574px;
                @include lg-min {
                    width: 650px;
                    height: 674px;
                }
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
        #circles {
            position: absolute;
            width: 78px;
            height: 79px;
            left: -55px;
            top: 65%;
            border-radius: 50%;
            border: 12px solid rgba(255, 255, 255, 0.2);
            box-sizing: border-box;
        }
        #down {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            img {
                width: 30px;
                height: 30px;
            }
        }
        #blur_elipse {
            position: absolute;
            left: 50%;
            bottom: -220px;
            img {
                width: 533.86px;
                height: 366px;
            }
        }
        @include md-min {
            #shape_cirle {
                bottom: -60px;
                right: -50px;
                z-index: -1;
                img {
                    height: 380px;
                    width: 380px;
                }
            }
        }
        @include lg-min {
            #shape_cirle {
                right: 20px !important;
                bottom: 50px !important;
                z-index: 0;
                img {
                    width: 546px;
                    height: 555px;
                }
            }
            #blur_elipse {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -260px;
                img {
                    width: 733.86px;
                    height: 566px;
                }
            }
        }
    }
}

section#about {
    height: 100%;
    .titlePag {
        position: relative;
        margin-top: 1em;
        &__title {
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.2em;
        }
        &__number {
            position: absolute;
            top: -40px;
            left: 0;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 120px;
            letter-spacing: -0.045em;
            color: rgba(114, 143, 163, 0.1);
        }
    }
    .aboutDescription {
        width: 100%;
        position: relative;
        margin-top: 1.7em;
        &__title,
        &__subtitle,
        &__text {
            font-family: Raleway, sans-serif;
            font-style: normal;
        }
        &__title {
            font-weight: bold;
            font-size: 2.1em;
            line-height: 104.4%;
            /* or 52px */
            letter-spacing: -0.01em;
            /* dark */
            color: $color_dark;
        }
        &__subtitle {
            font-weight: bold;
            font-size: 1.6em;
            line-height: 125%;
            color: $color_blue;
        }
        &__text {
            font-weight: normal;
            font-size: 1.2em;
            line-height: 115%;
            color: $color_dark;
        }
        &__button {
            width: 152px;
            height: 48px;
            background: $gradient_principal;
            color: $color_light;
            box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
            border-radius: 50px;
        }
    }
    .cardServices {
        position: relative;
        &__card {
            background: $color_light;
            border-radius: 20px;
            border: none;
            text-align: center;
            margin: 10px 0;
            &:hover {
                background: $gradient_principal;
                box-shadow: 0px 8px 30px rgba(64, 184, 231, 0.7);
                .cardServices__title {
                    color: #fff;
                }
                .cardServices__text {
                    color: #fff;
                }
                .cardServices__icon {
                    path {
                        stroke: #fff;
                    }
                }
            }
        }
        &__icon {
            svg {
                width: 80px;
                height: 82px;
            }
            img {
                // width: 90px;
                // height: 92px;
                width: 80px;
                height: 82px;
            }
        }
        &__title {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.2em;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: $color_blue;
        }
        &__text {
            font-family: Raleway, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1em;
            line-height: 125%;
            color: $color_gray;
        }
    }
}

section#especialidades {
    .especialidadesContent {
        .especialidadesTitle {
            position: relative;
            &__title {
                position: relative;
                z-index: 1;
                font-family: "Raleway", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 1.2em;
                margin-left: 2em;
                color: $color_gray;
            }
            &__number {
                position: absolute;
                top: -40px;
                left: 0;
                font-family: Montserrat, sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 120px;
                letter-spacing: -0.045em;
                color: #fff;
                text-shadow: 0px 4px 45px rgba(208, 210, 218, 0.65);
                z-index: 0;
            }
        }
        &__superTitle {
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            //font-size: 3em;
            font-size: 2.3em;
            line-height: 104.4%;
            /* or 52px */
            text-align: center;
            letter-spacing: -0.01em;
            /* dark */
            color: $color_dark;
        }
        &__subtitle {
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 1.2em;
            line-height: 125%;
            text-align: center;
            color: $color_blue;
        }
        &__turnos {
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 1em;
            line-height: 104.4%;
            letter-spacing: -0.01em;
            color: $color_gray;
        }
    }
    .especialidadesTabs {
        &__item {
            a {
                font-family: "Raleway", sans-serif;
                color: $color_gray !important;
                &.active {
                    background: $gradient_principal !important;
                    color: #fff !important;
                    box-shadow: 0px 9px 35px rgba(21, 204, 217, 0.65);
                    border-radius: 25px;
                }
            }
        }
        &__content {
            position: relative;
            background-color: #fff;
            border-radius: 1em;
            z-index: 1;
            border: 2px solid $color_blue;
            border-radius: 35px;
            width: 100%;
            /* &:before {
                content: "";
                z-index: 0;
                position: absolute;
                background: $gradient_principal;
                left: 0;
                top: 0;
                width: 40%;
                height: 100%;
                border-radius: 1em;
            } */
        }
        &__detail {
            .detail_title {
                font-family: "Raleway", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 1.5em;
                line-height: 125%;
                color: $color_blue !important;
            }
            .detail_text {
                font-family: "Raleway", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1em;
                line-height: 125%;
            }
        }
    }
    #especialidades__line {
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
    }
}

section#elegirnos {
    position: relative;
    .sectionElegirnos {
        &__item {
            .titlePag {
                margin-top: 2em;
            }
            .card {
                border: 0;
                position: relative;
                margin-bottom: 1em;
                margin-top: 1em;
                transition: .3s;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                &:hover {
                    background: #FFFFFF;
                    /* shadow card 1 */
                    box-shadow: 5px 20px 45px rgba(229, 229, 229, 0.8);
                    border-radius: 25px;
                    overflow: hidden;
                }
            }
        }
        &__number {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 200px;
            line-height: 104.4%;
            color: rgba(61, 181, 231, 0.2);
        }
        &__title {
            font-family: 'Raleway', sans-serif, Arial, Helvetica;
            font-style: normal;
            font-weight: bold;
            font-size: 1.5em;
            line-height: 104.4%;
            letter-spacing: -0.01em;
            color: $color_dark;
        }
    }
}