@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100&family=Raleway:wght@100;300;400;500;600;700;800&display=swap");
.font_raleway {
  font-family: "Raleway", sans-serif;
}

.font_montserrat {
  font-family: "Montserrat", sans-serif;
}

/**======================  COLORS  ======================*/
/** Backgrounds */
.bg_color_gradient_principal {
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
}

.bg_color_light {
  background-color: #f2f3f9;
}

.bg_color_dark {
  background-color: #273947;
}

.bg_color_gray {
  background-color: #728fa3;
}

.bg_color_blue {
  background-color: #3db5e7;
}

.bg_color_aqua {
  background-color: #11cdd6;
}

.bg_color_green {
  background-color: #5cd611;
}

/** Colors */
.text_color_light {
  color: #f2f3f9;
}

.text_color_dark {
  color: #273947;
}

.text_color_gray {
  color: #728fa3;
}

.text_color_blue {
  color: #3db5e7;
}

.text_color_aqua {
  color: #11cdd6;
}

.text_color_green {
  color: #5cd611;
}

.btn-consultorio {
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
  color: #f2f3f9;
  -webkit-box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
          box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
  border-radius: 50px;
  font-size: .8em;
}

.btn-consultorio:hover {
  background: -webkit-gradient(linear, right top, left top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(270deg, #11cdd7 0%, #3db5e7 100%);
  color: #fff;
}

.titlePag {
  position: relative;
  margin-top: 1em;
}

.titlePag__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
}

.titlePag__number {
  position: absolute;
  top: -40px;
  left: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  letter-spacing: -0.045em;
  color: rgba(114, 143, 163, 0.1);
}

#linea_separador {
  position: absolute;
  bottom: -150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0 !important;
}

.tns-nav {
  text-align: center;
  margin-bottom: 1em;
}

.tns-nav button {
  background-color: #728fa3;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  margin: 10px 5px;
  border: 0 !important;
  outline: none !important;
}

.tns-nav-active {
  background-color: #3db5e7 !important;
}

body {
  max-width: 1920px;
}

section {
  overflow: hidden;
  position: relative;
}

section#header {
  height: 100vh !important;
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
}

section#header #contact_bar span {
  font-family: "Montserrat", sans-serif;
}

section#header #contact_bar .navbar .navbar-toggler:focus {
  outline: none !important;
}

section#header #navbar_mini {
  padding: 0 18px;
}

@media (max-width: 576px) {
  section#header #navbar_mini {
    text-align: center;
  }
  section#header #navbar_mini span {
    margin: 0 4px !important;
  }
}

section#header #navbar_mini span {
  margin: 0 6px;
}

@media (max-width: 375px) {
  section#header #navbar_mini {
    display: none;
  }
}

section#header #description {
  margin-top: -80px;
}

section#header #description h1 {
  position: relative;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 3em;
  line-height: 104.4%;
}

section#header #description h1 span {
  position: absolute;
  left: 10px;
  top: -0.5em;
  opacity: 14%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5em;
  line-height: 104.4%;
}

section#header #description p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.4em;
}

section#header #description button {
  font-family: "Raleway", sans-serif;
  background-color: #f2f3f9;
  border: none;
  color: #273947;
  padding: 7.5px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 15px 2px rgba(114, 143, 163, 0.5);
          box-shadow: 0 5px 15px 2px rgba(114, 143, 163, 0.5);
}

section#header #description a {
  margin-left: 1em;
}

@media (min-width: 768px) {
  section#header #description {
    margin-top: -80px;
  }
  section#header #description h1 {
    font-size: 3.5em;
  }
  section#header #description h1 span {
    font-size: 2em;
  }
  section#header #description p {
    font-size: 1em;
  }
}

@media (max-width: 375px) {
  section#header #description h1 {
    font-size: 2.3em;
  }
  section#header #description h1 span {
    font-size: 2em;
  }
  section#header #description p {
    font-size: 0.85em;
    padding-top: 10px;
  }
  section#header #description a {
    margin-left: 0;
    display: block;
    margin-top: 10px;
  }
}

section#header div#formas #shape_cirle {
  position: absolute;
  bottom: -210px;
  right: -150px;
  z-index: -1;
}

section#header div#formas #shape_cirle img {
  height: 380px;
  width: 380px;
}

section#header div#formas #shape_points {
  position: absolute;
  top: 110px;
  right: -50px;
  z-index: -1;
}

section#header div#formas #shape_points img {
  width: 122.57px;
  height: 159.2px;
}

section#header div#formas #img_docs {
  position: absolute;
  bottom: -150px;
  right: -90px;
  z-index: 1;
}

section#header div#formas #img_docs img {
  width: 550px;
  height: 574px;
}

@media (min-width: 992px) {
  section#header div#formas #img_docs img {
    width: 650px;
    height: 674px;
  }
}

@media (max-width: 767px) {
  section#header div#formas #img_docs {
    display: none;
  }
}

section#header div#formas #circles {
  position: absolute;
  width: 78px;
  height: 79px;
  left: -55px;
  top: 65%;
  border-radius: 50%;
  border: 12px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section#header div#formas #down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

section#header div#formas #down img {
  width: 30px;
  height: 30px;
}

section#header div#formas #blur_elipse {
  position: absolute;
  left: 50%;
  bottom: -220px;
}

section#header div#formas #blur_elipse img {
  width: 533.86px;
  height: 366px;
}

@media (min-width: 768px) {
  section#header div#formas #shape_cirle {
    bottom: -60px;
    right: -50px;
    z-index: -1;
  }
  section#header div#formas #shape_cirle img {
    height: 380px;
    width: 380px;
  }
}

@media (min-width: 992px) {
  section#header div#formas #shape_cirle {
    right: 20px !important;
    bottom: 50px !important;
    z-index: 0;
  }
  section#header div#formas #shape_cirle img {
    width: 546px;
    height: 555px;
  }
  section#header div#formas #blur_elipse {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -260px;
  }
  section#header div#formas #blur_elipse img {
    width: 733.86px;
    height: 566px;
  }
}

section#about {
  height: 100%;
}

section#about .titlePag {
  position: relative;
  margin-top: 1em;
}

section#about .titlePag__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
}

section#about .titlePag__number {
  position: absolute;
  top: -40px;
  left: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  letter-spacing: -0.045em;
  color: rgba(114, 143, 163, 0.1);
}

section#about .aboutDescription {
  width: 100%;
  position: relative;
  margin-top: 1.7em;
}

section#about .aboutDescription__title, section#about .aboutDescription__subtitle, section#about .aboutDescription__text {
  font-family: Raleway, sans-serif;
  font-style: normal;
}

section#about .aboutDescription__title {
  font-weight: bold;
  font-size: 2.1em;
  line-height: 104.4%;
  /* or 52px */
  letter-spacing: -0.01em;
  /* dark */
  color: #273947;
}

section#about .aboutDescription__subtitle {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 125%;
  color: #3db5e7;
}

section#about .aboutDescription__text {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 115%;
  color: #273947;
}

section#about .aboutDescription__button {
  width: 152px;
  height: 48px;
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
  color: #f2f3f9;
  -webkit-box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
          box-shadow: 0px 6px 25px rgba(55, 185, 229, 0.8);
  border-radius: 50px;
}

section#about .cardServices {
  position: relative;
}

section#about .cardServices__card {
  background: #f2f3f9;
  border-radius: 20px;
  border: none;
  text-align: center;
  margin: 10px 0;
}

section#about .cardServices__card:hover {
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
  -webkit-box-shadow: 0px 8px 30px rgba(64, 184, 231, 0.7);
          box-shadow: 0px 8px 30px rgba(64, 184, 231, 0.7);
}

section#about .cardServices__card:hover .cardServices__title {
  color: #fff;
}

section#about .cardServices__card:hover .cardServices__text {
  color: #fff;
}

section#about .cardServices__card:hover .cardServices__icon path {
  stroke: #fff;
}

section#about .cardServices__icon svg {
  width: 80px;
  height: 82px;
}

section#about .cardServices__icon img {
  width: 80px;
  height: 82px;
}

section#about .cardServices__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #3db5e7;
}

section#about .cardServices__text {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 125%;
  color: #728fa3;
}

section#especialidades .especialidadesContent .especialidadesTitle {
  position: relative;
}

section#especialidades .especialidadesContent .especialidadesTitle__title {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 2em;
  color: #728fa3;
}

section#especialidades .especialidadesContent .especialidadesTitle__number {
  position: absolute;
  top: -40px;
  left: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  letter-spacing: -0.045em;
  color: #fff;
  text-shadow: 0px 4px 45px rgba(208, 210, 218, 0.65);
  z-index: 0;
}

section#especialidades .especialidadesContent__superTitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3em;
  line-height: 104.4%;
  /* or 52px */
  text-align: center;
  letter-spacing: -0.01em;
  /* dark */
  color: #273947;
}

section#especialidades .especialidadesContent__subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 125%;
  text-align: center;
  color: #3db5e7;
}

section#especialidades .especialidadesContent__turnos {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 104.4%;
  letter-spacing: -0.01em;
  color: #728fa3;
}

section#especialidades .especialidadesTabs__item a {
  font-family: "Raleway", sans-serif;
  color: #728fa3 !important;
}

section#especialidades .especialidadesTabs__item a.active {
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7)) !important;
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%) !important;
  color: #fff !important;
  -webkit-box-shadow: 0px 9px 35px rgba(21, 204, 217, 0.65);
          box-shadow: 0px 9px 35px rgba(21, 204, 217, 0.65);
  border-radius: 25px;
}

section#especialidades .especialidadesTabs__content {
  position: relative;
  background-color: #fff;
  border-radius: 1em;
  z-index: 1;
  border: 2px solid #3db5e7;
  border-radius: 35px;
  width: 100%;
  /* &:before {
                content: "";
                z-index: 0;
                position: absolute;
                background: $gradient_principal;
                left: 0;
                top: 0;
                width: 40%;
                height: 100%;
                border-radius: 1em;
            } */
}

section#especialidades .especialidadesTabs__detail .detail_title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 125%;
  color: #3db5e7 !important;
}

section#especialidades .especialidadesTabs__detail .detail_text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 125%;
}

section#especialidades #especialidades__line {
  position: absolute;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#elegirnos {
  position: relative;
}

section#elegirnos .sectionElegirnos__item {
  z-index: 999;
}

section#elegirnos .sectionElegirnos__item .card {
  position: relative;
  -webkit-box-shadow: 5px 20px 45px rgba(229, 229, 229, 0.8);
          box-shadow: 5px 20px 45px rgba(229, 229, 229, 0.8);
  border-radius: 25px;
  overflow: hidden;
}

section#elegirnos .sectionElegirnos__item .card__img {
  position: absolute;
  height: 226px;
  width: 226px;
  top: -15px;
  right: -105px;
}

section#elegirnos .sectionElegirnos__item button#btn-exp {
  font-family: 'Montserrat', 'Raleway', sans-serif;
  border-radius: 0 !important;
  background: -webkit-gradient(linear, left top, right top, from(#11cdd7), to(#3db5e7));
  background: linear-gradient(90deg, #11cdd7 0%, #3db5e7 100%);
  font-size: .9em;
}

section#elegirnos .sectionElegirnos__superTitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 104.4%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #273947;
}

section#elegirnos .sectionElegirnos__subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 125%;
  text-align: center;
}
/*# sourceMappingURL=consultorio.css.map */